<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Index</title>
</head>

<body>
    <a href="/">Home</a>
    <h1>NBG League Team List</h1>
    <% allTeams.forEach(team=> { %>
        <li><a href="/teams/<%= team._id %>">
                <%= team.name %>
            </a></li>
        <% }) %>

            <br>
            <br>

            <a href="/teams/new">Add new Team</a>
</body>

</html>