<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <img class="logo" src="/images/cat.png" />

  <title>NBG</title>
</head>

<body class="home-body">
  <div class="home">
    <div class="home-container">
      <h1 class="startheader">Where Team and Player Information Can Be Found</h1>
    </div>
    <br>
    <a class="signup" href="/auth/sign-up">Sign up</a>
    <a class="signin" href="/auth/sign-in">Sign in</a>
  </div>
  </div>
</body>

</html>