@import url('https://fonts.googleapis.com/css2?family=Times+New+Roman&display=swap');

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    background-color: #ef9ae2;
}

.show-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.show-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.show-header {
    color: #000000;
    font-weight: bold;
    font-size: 2.6em;
    margin: 20px 0;
}

.button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5em;
    padding: 8px 0;
    border-radius: 25px;
    width: 10em;
    text-align: center;
}


.button:hover {
    background-color: #cd5f00;
}


p {
    font-size: 1.2em;
    color: #000000;
    text-align: center;
    margin: 20px 0;
}

.show-notes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 20px 0;
}

.show-notes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 20px 0;
}

.show-notes-container:hover {
    color: #cd5f00;
}

.show-notes {
    font-weight: normal;
    color: #000000;
    text-align: left;
    font-size: 1.2em;
    margin: 20px 0;
}

h1 {
    font-size: 1.5em;
    color: #000000;
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-size: 2.5em;
    color: #000000;
    text-align: center;
    margin: 20px 0;
    font: bold;
}

.show-notes {
    font-weight: normal;
    color: #000000;
    text-align: left;
    font-size: 1.2em;
    margin: 20px 0;
}

.edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}