<link rel="stylesheet" href="/stylesheets/partials.css" />

<nav>
  <% if(user) { %>
    <div class="nav">
      <img class="nav-img" src="/images/cat.png" />
      <div class="nav-link">
        <a class="auth" href="/users/<%= user._id %>/teams">Team Page</a>
        <a class="auth" href="/users/<%= user._id %>/players">Player Page</a>
        <a class="auth" href="/auth/sign-out">Sign Out</a>
      </div>
    </div>
    <% } else { %>
      <div class="nav">
        <img class="nav-img" src="/images/cat.png" />
        <div class="nav-link">
          <a class="signup" href="/auth/sign-up">Sign up</a>
          <a class="signin" href="/auth/sign-in">Sign in</a>
        </div>
      </div>
      <% } %>
</nav>